<section class="hero">
  <div class="hero__container">
  <%= image_tag('snowboarding_home.jpg') %>
    <div class="hero__message">
      <h1 class="hero-title">
        Altitude Adjustment: Conquer the Slopes with Style and Speed!
      </h1>

      <p class="subtitle">
        <i>"Snowsports are a dance with nature, where the mountain sets the rhythm and your board finds the melody."</i> - John Mowrey
      </p>
    </div>
  </div>
</section>
