 
<div class="page">
<div id="<%= dom_id page %>">
  <p>
    <strong></strong>
    <%= page.title %>
  </p>

  <p>
    <strong></strong>
    <%= page.body.html_safe %>
  </p>

  <!-- <p>
    <strong>Slug:</strong>
    <%= url_for_page page %>
  </p>
 -->
</div>
</div>
