
@import "bootstrap";


/* universal */

body {
  
    background-color:#fff;
    padding-top: 68px;
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 0px;
  }
  .custom-styles .product-image {
    width: 150px;
    height: auto;
    object-fit: contain;
  }
  /* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-top: 00px;
    margin-bottom: 0px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }

  a {
    color: #000000;
  }
  
  a:hover {
    color: #000000;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
    color: #000000;
  }

  /* header */
  .header {
    padding-bottom: 0px;

  }
// Backgground image 
.page-background {
  width: 100%;
  height: 500px; /* Adjust the height according to your preference */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.page-body {
  padding: 12px;
  position: center !important;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
  }
  
  #logo:hover {
    color: #fff;
    text-decoration: none;
  } 

  // navbar
  /* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

  /* footer */

  footer {
    float:bottom;
    margin-top: 0px;
    padding-top: 5px;
    background-color: #ffffff;
    border: .05px solid;
    color: #ffffff;
    
  }

  footer ul {
    float: left;
    list-style:inside;
  }
  
  footer ul li {
    padding: 5px;
    float: left;
    margin-left: 15px;
  }

   /* pages */

 

  


textarea.ck-editor__editable {
  height: 300px;
}

//pagination

.will_paginate {
  ul {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
  }

  li {
    display: inline;
  }

  li:first-child {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }

  li:last-child {
    margin-right: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }

  li:not(:first-child):not(:last-child) {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }

  li.active {
    background-color: $primary; // use your primary color
    border-color: $primary; // use your primary color
    a {
      color: #ffffff;
    }
  }

  li.disabled {
    a {
      color: #777;
    }
  }

  li a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #2f93e4;
    text-decoration: none;
    background-color: #fff;
    border: 1px transparent #ffffff;
    width: 500px;
    height: 500px;
    object-fit: cover;
  }

  li a:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
  }
}

.card {
  background-color: #ffffffd9;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px ;
  border: none;
}
.card-body {
  width: 500px;
  height: 250px;
  object-fit: cover;
  
}
.card-img-top{
  width: 150px;
  height: 150px;
  object-fit: cover;
}
