
<div class= "image"> <%= image_tag @product.image %> </div>
<p><%= @product.name %></p>
 
 


<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
